<div class="spacer"></div>
<p class="h4">Assign A Teacher To Subject</p>
<div class="spacer"></div>

<form action="/link_teacher" method="post">

    <div class="input-group mb-3">

        <div class="container">
            <div class="row">

                <div class="col-4"></div>
                <div class="col-4">
                    <select class="form-select" aria-label="Default select example" name="select_subject" id="" required>
                        <option selected value="">
                            <p>--Select Subject--</p>
                        </option>
                        {{#each subs}}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>

                    <select class="form-select" aria-label="Default select example" name="select_teacher" id="" required>
                        <option value="">
                            <p>--Select teacher--</p>
                        </option>
                        {{#each teachers}}
                        <option value="{{id}}">{{first_name}} {{last_name}} </option>
                        {{/each}}
                    </select>

            <div class="d-grid gap-2">
                <input class="btn btn-primary" type="submit" value="Assign">
            </div>
                </div>
            </div>
            <div class="col-4"></div>

        </div>
    </div>


</form>