<div class="spacer"></div>
<p class="h4">Teachers that teach <b>{{subject}}</b>.</p>
<div class="spacer"></div>

<form action="/subject_taught/{{name}}/" method="get">

    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">

                <ul class="list-group">
                    {{#each teach_for_sub}}
                   <a href="/teacher_taught/{{id}}"><li class="list-group-item">{{first_name}} {{last_name}}</li></a> 
                    <input type="hidden" value="{{id}}" name="id">

                    {{/each}}
                </ul>


            </div>
            <div class="col-4"></div>
        </div>
    </div>


</form>