<div class="spacer"></div>

<p class="h4">Subjects taught by <b>{{fname}} {{lname}}</b></p>
<div class="row">
    <div class="col-12">
        <hr>
    </div>
</div>
<div class="spacer"></div>
<form action="/teacher_taught/{{name}}" method="get">


    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="center">
                    <ul class="list-group">
                        {{#each sub_by_teach}}
                        <a href="/subject_taught/{{name}}">
                            <li class="list-group-item"> {{name}} </li>
                        </a>
                        {{/each}}
                    </ul>
                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>


</form>