<div class="spacer"></div>
<p class="h4">Teacher <b>{{the_teach_n}} {{the_teach_l}}</b> has not been assigned any subjects yet.</p>
<input type="hidden" value="{{id}}" name="teacher_id">
<div class="spacer"></div>
<hr>

<div class="row">
    <div class="col-12">
        <p class="h6">Select a subject to assign  <b>{{the_teach_n}} {{the_teach_l}}</b> to.
            </p>
    </div>
</div>
<div class="row">
    <div class="col-4"></div>
    <div class="col-4">
        <form action="/teacher_no_sub" method="post">
            <select class="form-select mb-3" aria-label=".form-select-sm example" name="select_subject" id="">
                <option value='0' selected>
                    <p>--Select Subject--</p>
                </option>
                {{#each subs}}
                <option value="{{id}}">{{name}}</option>
                {{/each}}
            </select>

            {{!-- <p class="h4">Teacher <b>{{the_teach_n}} {{the_teach_l}} {{id}}</b> has not been assigned any subjects
                yet.</p> --}}
            <input type="hidden" value="{{id}}" name="teacher_id">


            <input class="btn btn-primary mb-3" type="submit" value="Assign">


        </form>
    </div>
    <div class="col-4"></div>
</div>