<div class="spacer"></div>

<p class="h4">Subjects taught by <b>{{fname}} {{lname}}</b></p>
<div class="spacer"></div>
<form action="/teacher_taught/{{name}}" method="get">


    <div class="container">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4">
                <div class="center">
                    {{#each sub_by_teach}}
                    <a href="/teacher_taught/{{id}}">
                        <li> {{name}} </li>
                    </a>
                    {{/each}}

                </div>
            </div>
            <div class="col-4"></div>
        </div>
    </div>


</form>